<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/nav/navbar.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8e541bc5fb.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <title><%= val.title %></title>
</head>
<body>
    <div class="nav">
            <h1 style="margin-left: 54px;">Medico</h1>
        <div id="nav-right-most">
          <!-- <div style="width: 20px;">
            <h3 ><a href="/alerts" id="nav-alert-icon"><i class="fa-solid fa-bell" ></i></a>
              </h3>
          </div> -->
            <h4 id="nav-user-name"> <%= user.name %></h4>
            <button id="nav-button" > <a href="/logout" id="logout-tag"
              style="text-decoration: none;" 
              ><i class="fa-solid fa-power-off"></i> logout</a></button>
        </div>
    </div>
    <div id="sidebar">
       <ul>
        
              <li ><a <% if(val.page==="dashboard"){ %>
                class="active"
                <% }%>
                id="dashboard" href="/"><i class="fa-solid fa-store"></i><span >Dashboard</span></a></li>
              
                <li><a <% if(val.page==="product"){ %>
                  class="active"
                  <% }%> id="product" href="/products"><i class="fa-solid fa-pills"></i> <span>Products</span></a></li>
              <li><a <% if(val.page==="Billing"){ %>
                class="active"
                <% }%> id="inventory" href="/billing"><i class="fa-solid fa-receipt"></i><span>Billing</span></a></li>
              <li><a <% if(val.page==="alerts"){ %>
                class="active"
                <% }%> id="inventory" href="/alerts"><i class="fa-solid fa-bell" ></i><span>Alerts</span></a></li>
              
              <li><a <% if(val.page==="sales"){ %>
                class="active"
                <% }%>id="sale" href="/sales"><i class="fa-solid fa-sack-dollar"></i> <span>Sales</span></a></li>
              <!-- <li><a id="supplier" href="/suppliers"><i class="fa-solid fa-truck-droplet"></i><span>Suppliers</span></a></li> -->
             
       </ul>
    </div>
 