<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/nav/navbar.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8e541bc5fb.js" crossorigin="anonymous"></script>
    <title><%= val.title %></title>
</head>
<body>
    <div class="nav">
            <h1>Medico</h1>
        <div id="nav-right-most">
            <h4> <%= user.name %></h4>
            <button id="nav-button" ><i class="fa-solid fa-power-off"></i> <a href="/logout" style="text-decoration: none;color: black;" onMouseOver="this.style.color='yellow'"
              >logout</a></button>
        </div>
    </div>
    <div id="sidebar">
       <ul>
        
              <li ><a <% if(val.page==="dashboard"){ %>
                class="active"
                <% }%>
                id="dashboard" href="/"><i class="fa-solid fa-store"></i><span >Dashboard</span></a></li>
              
              <li><a <% if(val.page==="inventory"){ %>
                class="active"
                <% }%> id="inventory" href="/"><i class="fa-solid fa-database"></i><span>Inventories</span></a></li>
              
              <li><a <% if(val.page==="product"){ %>
                class="active"
                <% }%> id="product" href="/products"><i class="fa-solid fa-pills"></i> <span>Products</span></a></li>
              <li><a id="sale" href="/"><i class="fa-solid fa-sack-dollar"></i> <span>Sales</span></a></li>
              <li><a id="supplier" href="/"><i class="fa-solid fa-truck-droplet"></i><span>Suppliers</span></a></li>
             
       </ul>
    </div>
 