<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/billing/billing.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8e541bc5fb.js" crossorigin="anonymous"></script>
    <title>Billing</title>
</head>

<body>
    <div class="billing-page" >
        <div id="bill-form"  >
            <!-- <div class="customer-name">
                <label for="c-name">Customer Name</label>
                <input type="text" id="c-name" required>
            </div> -->
            <div class="bill-form-head">
                <h1>Products</h1>
                <button id="add-product"><i class="fa-solid fa-plus"></i> Add Product</button>
            </div>
            <div class="product-input" id="product-input">
                <div class="product-input-box">
                    <div class="product-name-div">
                        <label for="product-name" class="product-name-label">Product Name</label>
        <select name="Products" id="prduct-name"  class="select-input" >
                           <option></option>
                            <% if(products) { products.forEach((product)=>{%>
                                <option value="<%= product.name  %>">
                                    <%= product.name %>
                                </option>
                            <% })}%>
                        </select>
                    </div>
                    <div class="product-quantity-div">
                        <label for="quantity">Qty</label>
                        <input type="number" id="quantity" class="product-quantity">
                    </div>
                    <div class="product-price-div">
                        <label for="price">Price/Qty</label>
                        <input type="number" id="price" class="product-price">
                    </div>
                    <div class="product-amount-div">
                        <label for="individual-amount">Total</label>
                        <input type="number" id="individual-amount" class="individual-amount">
                    </div>
                </div>
            </div>
            <div class="bill-bottom">
                <div class="total-amount-button" >
                    <button id="make-total-button">Make total</button>
                </div>
            <div class="total-bill-amount" style="display: none;">
                <label for="total-bill-amount">Total Amount :</label>
                <input type="number" id="total-bill-amount" name="total-bill-amount" value=0>
            </div>
            </div>
            <hr>
            <div id="save-bill-button">
                <button id="save-bill">Save Bill</button>
            </div>
        </div>
     
       
        
    </div>
    
    <script>
        const addProduct = document.getElementById('add-product')
        const selectInput=document.getElementsByClassName('select-input')
        const productPrice=document.getElementsByClassName('product-price')
        const productQuantity=document.getElementsByClassName('product-quantity')
        const individualAmount=document.getElementsByClassName('individual-amount')
        const totalBillAmount=document.getElementById('total-bill-amount')
        const makeTotalButton=document.getElementById('make-total-button')
        let totalAmountButton=document.getElementsByClassName('total-amount-button');
        let productList;
       const fetchProduct=async()=>{
            const response=await fetch('/productList')
            const json=await response.json();
            // console.log(json)
            productList=json;
            console.log(productList)
       }
       fetchProduct();

        addProduct.addEventListener('click', (e) => {
            e.preventDefault()
            let html = `
                    <div class="product-name-div">
                        <label for="product-name" class="product-name-label">Product Name</label>
                        <select name="Products" id="prduct-name" class="select-input" >
                            <option></option>
                            <% if(products) { products.forEach((product)=>{%>
                                <option value="<%= product.name  %>">
                                    <%= product.name %>
                                </option>
                            <% })}%>
                        </select>
                    </div>
                    <div class="product-quantity-div">
                        <label for="quantity">Qty</label>
                        <input type="number" id="quantity" class="product-quantity">
                    </div>
                    <div class="product-price-div">
                        <label for="price">Price/Qty</label>
                        <input type="number" id="price" class="product-price">
                    </div>
                    <div class="product-amount-div">
                        <label for="individual-amount">Total</label>
                        <input type="number" id="individual-amount" class="individual-amount">
                    </div>
                `
            let div = document.createElement('div')
            div.innerHTML = html;
            // totalAmountButton.style.display='block';
            div.classList.add('product-input-box')
            const productInput = document.getElementById('product-input')
            productInput.appendChild(div);
            console.log(selectInput)
            for(let i=0;i<selectInput.length;i++){
                selectInput[i].addEventListener('change',(e)=>{
                    
                  productList.find((product)=>{
                      if(product.name===e.target.value){
                          productPrice[i].value=product.sell_price
                      }
                  })
                
                })
            }
            for(let i=0;i<productQuantity.length;i++){
                productQuantity[i].addEventListener('change',(e)=>{
                    individualAmount[i].value=productPrice[i].value*e.target.value
                })
            }
        })

        
        for(let i=0;i<selectInput.length;i++){
                selectInput[i].addEventListener('change',(e)=>{  
                  productList.find((product)=>{
                      if(product.name===e.target.value){
                          productPrice[i].value=product.sell_price
                      }
                  })
                })
            }
            for(let i=0;i<productQuantity.length;i++){
                productQuantity[i].addEventListener('change',(e)=>{
                    individualAmount[i].value=productPrice[i].value*e.target.value
                })
            }
        
        makeTotalButton.addEventListener('click',(e)=>{
            e.preventDefault()
            let total=0;
            for(let i=0;i<individualAmount.length;i++){
                total+=Number(individualAmount[i].value)
            }
            totalBillAmount.value=total;
            const totalBillAmountDiv=document.querySelector('.total-bill-amount')
            totalBillAmountDiv.style.display='block'
            // totalAmountButton.style.display='none'
            
        })

        // saving bill
        const saveBillButton=document.getElementById('save-bill')
        saveBillButton.addEventListener('click',(e)=>{
            e.preventDefault()
            const billData={
                totalBillAmount:totalBillAmount.value,
                products:[],
                date:new Date()
            }
            for(let i=0;i<selectInput.length;i++){
                billData.products.push({
                    _id:productList.find((product)=>product.name===selectInput[i].value)._id,
                    quantity:productQuantity[i].value,
                   
                })
            }
            console.log(billData)
            fetch('/addSale',{
                method:'POST',
                headers:{
                    'Content-Type':'application/json'
                },
                body:JSON.stringify(billData)
            }).then((res)=>{
                // console.log(res)
                res.json()
            }).then((data)=>{
                console.log(data)
            })
        })


    </script>
</body>

</html>