<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/billing/billing.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8e541bc5fb.js" crossorigin="anonymous"></script>
    <title>Billing</title>
</head>

<body>
    <div class="billing-page">
        <div id="bill-form">
            <div class="bill-form-head">
                <h1>Products</h1>
                <button id="add-product"><i class="fa-solid fa-plus"></i> Add Product</button>
            </div>
            <div class="product-input" id="product-input">
                <div class="product-input-box">
                    <div class="product-name-div">
                        <label for="product-name" class="product-name-label">Product Name</label>
        <select name="Products" id="prduct-name"  class="select-input" onchange="setPrice()" >
                           
                            <% if(products) { products.forEach((product)=>{%>
                                <option value="<%= product.name  %>">
                                    <%= product.name %>
                                </option>
                            <% })}%>
                        </select>
                    </div>
                    <div class="product-quantity-div">
                        <label for="quantity">Qty</label>
                        <input type="number" id="quantity" class="product-quantity">
                    </div>
                    <div class="product-price-div">
                        <label for="price">Price/Qty</label>
                        <input type="number" id="price" class="product-price">
                    </div>
                    <div class="product-amount-div">
                        <label for="individual-amount">Total</label>
                        <input type="number" id="individual-amount" class="individual-amount">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const addProduct = document.getElementById('add-product')
        function setPrice() {
            
        }
        
       
        addProduct.addEventListener('click', (e) => {
            e.preventDefault()
            let html = `
                    <div class="product-name-div">
                        <label for="product-name" class="product-name-label">Product Name</label>
                        <select name="Products" id="prduct-name" class="select-input" onchange="setPrice('<%products%>')">
                           
                            <% if(products) { products.forEach((product)=>{%>
                                <option value="<%= product.name  %>">
                                    <%= product.name %>
                                </option>
                            <% })}%>
                        </select>
                    </div>
                    <div class="product-quantity-div">
                        <label for="quantity">Qty</label>
                        <input type="number" id="quantity" class="product-quantity">
                    </div>
                    <div class="product-price-div">
                        <label for="price">Price/Qty</label>
                        <input type="number" id="price" class="product-price">
                    </div>
                    <div class="product-amount-div">
                        <label for="individual-amount">Total</label>
                        <input type="number" id="individual-amount" class="individual-amount">
                    </div>
                `
            let div = document.createElement('div')
            div.innerHTML = html;
            div.classList.add('product-input-box')
            const productInput = document.getElementById('product-input')
            productInput.appendChild(div);
            const selectInput=document.getElementsByClassName('select-input')
            const productPrice=document.getElementsByClassName('product-price')
            console.log(selectInput)
            
            // for(let i=0;i<selectInput.length;i++){
            //     selectInput[i].addEventListener('change',(e)=>{
            //         console.log(e.target.value)

            //     })
            // }

        })

    </script>
</body>

</html>