<%- include('partials/header',{val:{title:'Products',page:'product'}}) -%>
<div class="ml-257 mt-72">
    <div class="page-head">
        <h1><i class="fa-solid fa-pills"></i> Products</h1>
    </div>
   <div id="add-product">
    <button><a href="/addproduct"><i class="fa-solid fa-plus"></i>  Add Product</a></button>
   </div>


        <table id="product-table">
            <thead>
            <tr id="product-table-head">
                <th>Product name</th>
                <th>Price</th>
                <th>Description</th>
                
            </tr>
        </thead>
            <tbody>
                <% if(products) {
                    products.forEach((product)=>{%>
            <tr id="product-table-body">
                <td><%= product.name  %></td>
                <td><%= product.price  %></td>
                <td><%= product.description  %></td>
            </tr>
            <% })}%>
            </tbody>

        </table>
    

</div>


<link rel="stylesheet" href="/products/products.css">  
</body>
</html>